@import '../../colors';

.RegistrationPageDiv{
  background-image: url("../../atoms/icons/backgroundImg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 116vh;
  display: grid;
  place-items: center;
  //width: 100%;
}
