@import '../../colors';

.FormDiv{
  box-shadow: 0 0 50px $darkPurple;

}
.FormBlock{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap:24px;
  width:500px;
  background-color:$black;
  flex-shrink: 0;
  border-radius: 60px;

  Input{
    background-color: $black;
    color:$white;
    font-size: 16px;
    width: 430px;
    height: 60px;
    flex-shrink: 0;
    border: 1px solid $white;
    border-radius: 12px;
    padding:0 0 0 12px;
    &:hover{
      border-color:$violet;
    }
    .ServiceTerms{
      width:10px;
    }
  }
  input::placeholder {
    padding:8px;
  }
  .RegLogoImg{
    width: auto;
    height:90px;
  }
  .GoBackLink{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    gap:100px;
    padding-left: 30px;
    //padding-top: 30px;
  }
  .CheckboxBlock{
    display:flex;
    flex-direction: row-reverse;
    gap: 16px;
    align-items: center;
    justify-content: flex-end;
  }

  .RegLogoBlock{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width:100%;
    padding-top:30px;
  }
  .AccCreate{
    padding-left: 116px;
  }
  .RealCheckbox{
    display: none;
  }
  .CustomCheckbox{
    position: relative;
    display:inline-block;
    width:20px;
    height:20px;
    border-radius: 25%;
    background-color: $black;
    border: 2px solid $white;
    vertical-align: sub;
    margin-right: 10px;

    &:before{
      content: '';

      display: inline-block;
      width:15px;
      height:15px;
      border-radius: 25%;
      //background-color: $violet;
      position:absolute;
      left:50%;
      top:50%;

      transform: translate(-50%, -50%) scale(0);
      transition: 0.2s ease-in;
    }
  }

  .RealCheckbox:checked + .CustomCheckbox::before {
    background-color: $violet;
    transform: translate(-50%, -50%) scale(1);
  }

  .InputsDiv{
    gap: 40px;
    display: flex;
    flex-direction: column;
  }
}
