@import '../../colors';

.Dropdown{
    border-radius: 12px;
    cursor: pointer;
    border: $white solid 1px;
    width: 200px;
    height: 60px;
    //margin:20px auto;
    position: relative;
    user-select: none;

    &:hover{
        border: $violet solid 1px;
    }

    .DropdownBtn{
        padding: 6px 18px;
        display:flex;
        align-items: center;
        justify-content: space-between;
    }

    .DropdownContent{
        position: absolute;
        top:110%;
        left:0;
        padding:10px;
        border-radius: 12px;
        cursor: pointer;
        border: $violet solid 1px;
        color:white;
        font-weight: 400;
        width:90%;
        //display:flex;
        ////align-items: center;
        //justify-content: space-between;
        //flex-direction: column;
        //align-items: flex-start;

        .DropdownItem{
            color:$lightGrey;
            padding:6px;
            cursor: pointer;
            transition: all 0.2s;
            &:hover{
                border-radius: 12px;
                //background-color:
                color:$white;
            }
        }
    }
}
