@import '../../colors';
.Overlay{
  height: 100vh;
  width:100vw;
  display: grid;
  place-items: center;
  position: fixed;
  transform: scale(0);
}
.OverlayActive {
  transform: scale(1);
}

.Container{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .SuccessPopup{
    //display: block;
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    margin:auto;
    background-color:$lightGreen;
    border-color: #a3cfbb;
    flex-shrink: 0;
    border-radius: 10px;
    width:100%;
    max-width: 450px;
    height: 50px;
    //z-index: 1000;
    transform: translateY(-50%);
    animation: slideIn 0.4s ease-in-out forwards;


    @keyframes slideIn {
      from {
        top: -100%;
      }
      to {
        top: 0;
      }
    }

    .SuccessPopupContent{
      position: relative;
      display: flex;
      justify-content: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}

}

