$darkGrey: #2B2B2B;

$black: #202227;

$white: #FFFFFF;

$grey: #3A3B3C;

$lightBlack: #242526;

$lightGrey: #767676;

$violet: #4242a1;

$lavender: #afa1ee;

$darkPurple:#22223f;

$darkBlue:#010340;




