$darkGrey: #2B2B2B;

$black: #202227;

$white: #FFFFFF;

$grey: #3A3B3C;

$lightBlack: #242526;

$lightGrey: #767676;

$violet: #4040a0;

$purple: #8972de;

$darkPurple:#1c162b;

$purpleBlack:#1c162b;




