@import '../../colors';
.Overlay{
  height: 100vh;
  width:100vw;
  display: grid;
  place-items: center;
  position: fixed;
  transform: scale(0);
}
.OverlayActive {
  transform: scale(1);
}
.FeedbackGratefulWindow{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color:$darkGrey;
  flex-shrink: 0;
  border-radius: 60px;
  width: 400px;
  //border-radius: var(--spacing-5, 16px);
  height: 300px;
  box-shadow: 0 0 50px $darkPurple;

  .GratefulWindowContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .CheckIcon{
    padding:20px;
    width: 70px;
    height: 70px;
    fill:$white;
  }
}
